@font-face {  
  font-family: 'Roboto';  
  font-display: swap; 
  src: local('Roboto Bold'), url('assets/fonts/roboto-bold-webfont.woff2') format('woff2') url('assets/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700; 
}

@font-face {  
  font-family: 'Roboto';  
  font-display: swap; 
  src: local('Roboto Regular'), url('assets/fonts/roboto-regular-webfont.woff2') format('woff2') url('assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400; 
}

*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 842px;
  margin: 0px auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#stay-updated {
  width: 327px;
  height: 558px;
  margin: 0px auto;
}

h1 {
  font-size: 40px;
}

ul {
  padding-left: 0px;
  list-style: none;
}

li {
  padding: 10px 0px 7px 40px;
  background-image: url('assets/images/icon-list.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 21px;
}

form {
  margin: 30px 0px;
  /* width: 327px; */
}

#left {
  font-size: 12px;
  font-weight: 700;
}

#invalidMsg {
  visibility: hidden;
  font-size: 12px;
  font-weight: 700;
  color: hsla(4, 100%, 67%, 1);
  float: right;
}

#email {
  width: 327px;
  height: 56px;
  border: solid 1px;
  border-radius: 8px;
  border-color: hsla(243, 28%, 13%, 0.25);
  padding-left: 20px;
  margin: 10px auto;
  color: hsla(234, 29%, 20%, 1);
  font-size: 16px;
  font-weight: 400;
}

.invalid {
  outline: 1px solid hsla(4, 100%, 67%, 1);
  background-color: hsla(4, 100%, 67%, 0.15);
  color: hsla(4, 100%, 67%, 1) !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10px 0px 10px;
  margin: auto;
  width: 327px;
}

#success-icon {
  margin-left: 0px;
}

#thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px; ; 
  height: 304px;
  padding-left: 5px;;
}

.button {
  width: 320px;
  height: 56px;
  border-radius: 8px;
  border: none;
  margin: 15px auto;
  background-color: hsla(234, 29%, 20%, 1);
  color: hsla(0, 0%, 100%, 1);
  font-size: 16px;
  font-weight: 700;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin: 5px 0px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* MEDIA QUERIES */

@media only screen and (min-width: 431px) { 

  body {
    background-color: hsla(234, 17%, 26%, 1);
    justify-content: center;
  }

  .container {
    width: 928px;
    height: 641px;
    flex-direction: row-reverse;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 25px;
    align-items: center;
  }

  #stay-updated {
    width: 376px;
  }

  h1 {
    font-size: 56px;
    line-height: 56px;
    margin: 30px auto;
  }

  #email, .button {
    width: 376px;
  }

  #email:hover {
    cursor: pointer;
  }

  .button:hover {
    background: linear-gradient(204.47deg, #FF6A3A 0%, #FF527B 100%);
    cursor: pointer;
    box-shadow: 0px 5px 10px 5px hsla(0, 30%, 35%, 0.25);
  }

  img {
    margin: 0px 25px 0px 0px;
  }

  main {
    background-color: hsla(0, 0%, 100%, 1);
    width: 504px;
    height: 520px;
    border-radius: 25px;
    padding: 60px;
  }

  #thanks {
    margin: 0px;
  }
  .attribution {
    color: hsla(0, 0%, 100%, 1);
  }

  .attribution a {
    color: hsl(6.04deg 82.38% 62.16%);
  }
}
