
*{
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
  height: 100vh;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 327px;
  height: 478px;
  margin: auto;
}

h1 {
  font-size: 40px;
}

ul {
  list-style-image: url('assets/images/icon-list.svg');
  padding-left: 25px;
}

li {
  padding-left: 10px;
}

label {
  font-size: 12px;
  font-weight: 700;
}

#email {
  width: 327px;
  height: 56px;
  border: solid 1px;
  border-radius: 8px;
  border-color: hsla(243, 28%, 13%, 0.25);
  padding-left: 20px;
  margin: 10px auto;
  color: hsla(243, 28%, 13%, 0.25);
  font-size: 16px;
  font-weight: 400;
}

#subscribe {
  width: 327px;
  height: 56px;
  border-radius: 8px;
  margin: 15px auto;
  background-color: hsla(234, 29%, 20%, 1);
  color: hsla(0, 0%, 100%, 1);
  font-size: 16px;
  font-weight: 700;
}